<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    {{>header}}
    <link rel="stylesheet" href="/css/form.css">
   </head>
<body>
  {{>navbar}}
<div class="container" id="container">
	<div class="form-container-1 sign-in-container">
		<form action="/login" method="POST">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" required name="email"/>
			<input type="password" placeholder="Password" required name="password"/>
			<a href="#">Forgot your password?</a>
			<input class="btn" type="submit" value="SignIn"></input>
			<a href="register">SignUp</a>
		</form>
	</div>
</div>

<footer>
	<p>
		all are reservered by sports
	</p>
</footer>
</body>
</html>
