<div class="navbar">
      <div class="logo">
        <a href="/"><img src="https://i.ibb.co/kDVwgwp/logo.png" alt="RedStore" width="125px" /></a>
      </div>
      <nav>
        <ul id="MenuItems">
          {{#if user}}
          <li>Wlcome, {{user.email}} </li>
          {{/if}}
          <li><a href="/">Home</a></li>
          <li><a href="#product">Products</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {{#if user}}
          <li id="secret" ><a href="/secret">Secret</a></li>
          <li><a href="/logout">Logout</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {{/if}}
        </ul>
      </nav>
      <a href="cart.html"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" /></a>
      <img src="https://i.ibb.co/6XbqwjD/menu.png" alt="" class="menu-icon" onclick="menutoggle()" />
    </div>